<div class="container text-center">
  <form class="form-simple">
    <label for="name">Recipe Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="story">Story:</label><br>
    <textarea type="text" id="story" name="story"></textarea><br>
    <label for="ingredient">Ingredients Needed</label><br>
    <i id="ingredient-add" class="bi bi-plus-circle"></i><br>
    <label for="submit"></label><br>
    <input type="submit" value="Submit"><br>
  </form>
</div>
