// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.form-simple {
  font-family: 'Rosarivo', serif;
  display: flex;
  flex-direction: column;

  textarea, input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.856);

    &:hover {
      box-shadow: inset 0px 0px 5px 0px grey;
      transition: 0.2s;
      outline: none;
    }

    &:focus {
      box-shadow: inset 0px 0px 5px 0px grey;
      transition: 0.2s;
      outline: none;
    }
  }

  .line-ingredient {
    flex-direction: row;
  }

  input.ingredient {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0x;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.856);
  }

  input.amount {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-left: 8px;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.856);
  }

  input.unit {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 8px;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.856);
  }

  input[type=submit] {
    background-color: white;
    border: none;

    &:hover {
      border-bottom: solid 1px black;
      transition: 0.2s;
    }
  }

  #story {
    height: 200px;
  }

  #ingredient-add {
    margin-top: 10px;
    height: 16px;
    width: 16px;
    margin: 10px auto;
  }
  
  #ingredient-add:hover {
    cursor: pointer;
  }
}
